@use 'colors';

.post_list {
  height: 80vh;
  overflow: auto;

  padding: 0;
  margin: 16px 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  list-style: none;

  &__item {
    display: block;

    text-decoration: none;
    color: colors.$secondColor;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    width: 100%;
    padding: 8px;

    border: 1px solid colors.$secondColor;
    border-radius: 8px;
  }
}